<link rel="stylesheet" href="/stylesheets/final1.css">
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      W
    </title>
  </head>
  <body>
    <header id="header">
      <div class="container">
        <h1>
          W
        </h1>
        <nav id="nav">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
		<li>
              <a href="login">Login</a>
            </li>
		<li>
              <a href="upload">Upload</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="content">
      <div class="container">
        
      </div>
    </div>
    <div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="/root/Desktop/Women/img1.jpg" style="width:100%; opacity: 0.3">
  <div class="text" >The story of women’s struggle for equality belongs to no single feminist nor to any one organization but to the collective efforts of all who care about human rights.</div>
</div>
<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="/images/img2.jpg" style="width:100%;opacity: 0.3">
  <div class="text" >Caption two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="/images/img3.jpg" style="width:100%;opacity: 0.3">
  <div class="text">Caption Three</div>
</div>
<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="/images/img1.jpg" style="width:100%;opacity: 0.3">
  <div class="text">Caption four</div>
</div>
<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="/images/img5.jpg" style="width:100%;opacity: 0.3">
  <div class="text">Caption five</div>
</div>


</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span> 
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3000); // Change image every 2 seconds
}
</script>
 
     
    <section>
      <div class="a">
    <a href="#" style="font-size: 50px;
    color: yellow;
    
    padding: 35%;text-decoration: none;margin-top: 10px;">Explore jobs</a>
  </div>
  <br>
    <br>

  <br>

  <br>

  <br>

 
   <div class="b">
    <a href="#" style="font-size: 50px;
    color: yellow;
    
    padding: 25%;text-decoration: none;margin-top: 10px;" >Security Advancement</a>
    </div>

    <br>
    <br>

  <br>

  <br>

  <br>

     <div class="c">
    <a href="#" style="font-size: 50px;
    color: yellow;
    
    padding: 42%;text-decoration: none;margin-top: 10px;">Laws</a>
    </div>

    <br>
    <br>

  <br>

  <br>

  <br>
     <div class="d">
    <a href="#" style="font-size: 50px;
    color: yellow;
    
    padding: 34%;text-decoration: none;margin-top: 10px;">Achievements</a>
    </div>

     <div class="leaf">
     <div>  <img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" height="20px" width="25px"></img></div>
      <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" height="20px" width="25px"></img></div>
      <div>  <img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Clip-Art-PNG.png" height="20px" width="25px" ></img></div>
      <div><img  src="http://www.pngmart.com/files/1/Green-Leaves-PNG-File.png" height="20px" width="25px"></img></div>
       <div> <img src="http://www.pngmart.com/files/1/Transparent-Autumn-Leaves-Falling-PNG.png" height="20px" width="25px"></img></div>
     <div>   <img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" height="20px" width="25px"></div>
     <div><img src="http://cdn.clipart-db.ru/rastr/autumn_leaves_025.png" height="20px" width="25px"></div>
            
     </div>
     
     <div class="leaf leaf1">
     <div>  <img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" height="20px" width="25px"></img></div>
      <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" height="20px" width="25px"></img></div>
      <div>  <img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Clip-Art-PNG.png" height="20px" width="25px" ></img></div>
      <div><img  src="http://www.pngmart.com/files/1/Green-Leaves-PNG-File.png" height="20px" width="25px"></img></div>
       <div> <img src="http://www.pngmart.com/files/1/Transparent-Autumn-Leaves-Falling-PNG.png" height="20px" width="25px"></img></div>
     <div>   <img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" height="20px" width="25px"></div>
     <div><img src="http://cdn.clipart-db.ru/rastr/autumn_leaves_025.png" height="20px" width="25px"></div>
            
     </div>
     
     <div class="leaf leaf2">
     <div>  <img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" height="20px" width="25px"></img></div>
      <div><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" height="20px" width="25px"></img></div>
      <div>  <img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Clip-Art-PNG.png" height="20px" width="25px" ></img></div>
      <div><img  src="http://www.pngmart.com/files/1/Green-Leaves-PNG-File.png" height="20px" width="25px"></img></div>

       <div> <img src="http://www.pngmart.com/files/1/Transparent-Autumn-Leaves-Falling-PNG.png" height="20px" width="25px"></img></div>
     <div>   <img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" height="20px" width="25px"></div>
     <div><img src="http://cdn.clipart-db.ru/rastr/autumn_leaves_025.png" height="20px" width="25px"></div>
            
     </div>
     </section>
     

  </body>
</html>
